access-items

In [1]:
import pandas as pd

In [2]:
data = {
    'city' : ['Toronto', 'Montreal', 'Waterloo'],
    'points' : [80, 70, 90]
}

In [3]:
data

{'city': ['Toronto', 'Montreal', 'Waterloo'], 'points': [80, 70, 90]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

       city  points
0   Toronto      80
1  Montreal      70
2  Waterloo      90

In [6]:
#acess a row
df.iloc[0]

city      Toronto
points         80
Name: 0, dtype: object

In [8]:
#access a column
df.iloc[:, 1]

0    80
1    70
2    90
Name: points, dtype: int64

In [9]:
#acess an item
df.iloc[0, 1]

np.int64(80)

In [12]:
#acess acc to condition
df.loc[df['city'] == 'Waterloo']

       city  points
2  Waterloo      90

In [14]:
df.loc[df['points'] > 70]

       city  points
0   Toronto      80
2  Waterloo      90